*{
     margin:0;
     padding: 0;
     box-sizing: border-box;
 }

 body{
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: linear-gradient(rgb(47,150,163), rgb(48,62,143 ));
     font-family: sans-serif;
     color:white; 
 }

 .main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:300px;
    max-height: 200px;
    padding:2px;
 }

 .location,
 .temperature{
     width:50%;
     height:30vh;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 .temperature{
   flex-direction: column;
}

.location{
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2{
    font-size: 40px;
}

.temperature-degree{
    margin-left: 15px;
}

.temperature-description{
      text-align: center;    
}